.header
  .top-home
    = link_to "#" do
      inquiryeee
  .top-navi
    %ul.top-navi__right
      %li.top-navi__right--first<
        = link_to "#" do
          inquiryeeeとは
      %li.top-navi__right--second<
        = link_to "#" do
          inquiryeeeの特徴
      %li.top-navi__right--third<
        = link_to "#" do
          サインイン
  


.main-top
  %h1 覗こう、生の声
  %p 他人から自分の目標を叶えていく、たった一つの戦略
  = link_to "#", class: "btn btn-border" do
    .btn-wrap
      新規会員登録
    