.header
  .top-home
    = link_to "#" do
      inquiryeee
  .top-navi
    %ul.top-navi__right
      - if user_signed_in?
        %li.top-navi__right--second<
          = link_to "#" do
            = current_user.name
        %li.top-navi__right--third<
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
      - else
        %li.top-navi__right--first<
          = link_to "#" do
            inquiryeeeとは
        %li.top-navi__right--second<
          = link_to "#" do
            inquiryeeeの特徴
        %li.top-navi__right--third<
          = link_to new_user_session_path do
            サインイン


.main-top
  %h1 のぞこう、生の声
  %p 他人から自分の目標を叶えていく、たった一つの戦略
  - if user_signed_in?
    = link_to boards_path ,class: "btn btn-border" do
      .btn-wrap
        tapで利用！
  -else
    = link_to new_user_registration_path, class: "btn btn-border" do
      .btn-wrap
        新規会員登録

.main-indicate
  %h1.main-content inquiryeeeとは
  %p.subcontent1 inquiryeeeは、
  %p エンジニア転職、デザイナー、ヘアメイクアーティストなど
  %p 同じ目的を持っている人から生の声を聞いて自分に活かすコミュニティーサイトです。
  %ul.nayami-list
    %li 目標はあるけど頑張り方が分からない…
    %li 実際に転職活動をしている人の生の声が聞きたい…
    %li モチベーションの維持ができない…
  %p.subcontent2 そのような悩みをinquiryeeeが解決します

.main-feature
  %h1 inquiryeeeの特徴
  .main__features__list
    .main__features__list--first
      = image_tag "https://image.shutterstock.com/image-vector/vector-illustration-flat-style-businessmen-600w-1099567280.jpg"
      %h3 
        リアル掲示板
      %p
        同じ目的を持った人の生の声が聞けます！
    .main__features__list--second
      = image_tag "https://image.shutterstock.com/image-vector/vector-illustration-about-two-men-600w-1595158357.jpg"
      %h3
        学習記録
      %p
        目標に向けてどれくらい学習したか、何を学んだかアウトプットできる！
    .main__features__list--third
      = image_tag "https://image.shutterstock.com/image-vector/business-concept-vector-illustration-little-600w-1059226556.jpg"
      %h3 
        戦略・計画表
      %p
        目標を再認識し、短期〜長期の計画を立てる！